@using ARKanyFryzjerstwa.Resources
@model ARKanyFryzjerstwa.Models.PasswordResetModel

@{
    ViewData["Title"] = "Zmiana hasła";
    var optionsStyle = Model.ShowPasswordDetials ? "display: none;" : string.Empty;
    var detailsStyle = Model.ShowPasswordDetials ? string.Empty : "display: none;";
}

<div class="text-center account-form-container d-flex justify-content-center align-items-center">
    <div id="resetPasswordBox"  class="bg-light account-form-box">
        <div class="form-signin d-flex align-items-center">
            <form asp-action="PasswordReset" asp-controller="Account" method="post" class="w-100">

                <h1 class="h3 mb-3 fw-normal text-dark">Zmiana hasła:</h1>

                @if (Model.HasErrors)
                {
                    <div class="identity-errors">
                        @foreach (var error in Model.IdentityErrors)
                        {
                            <li>@error.Description</li>
                        }
                    </div>
                }

                <div class="form-floating">
                    <input id="login" asp-for="Login" class="form-control my-1" placeholder="@ARKanyResources.LoginInputLabel"/>
                    <label for="floatingInput">@ARKanyResources.LoginInputLabel: </label>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>

                <div id="passwordResetOptions" style="@optionsStyle">
                    <small class="text-dark">@ARKanyResources.VerificationCodeInfo</small>
                    <ul class="btns-pair">
                        <li id="sendCodeBtn" class="btn btn-primary d-flex align-items-center justify-content-center">Wyślij kod</li>
                        <li id="showDetailsBtn" class="btn btn-outline-primary d-flex align-items-center justify-content-center">Posiadam kod</li>
                    </ul>
                </div>
            
                <div id="passwordResetDetails" style="@detailsStyle">
                    <div class="form-floating">
                        <input asp-for="VerificationCode" class="form-control my-1" placeholder="@ARKanyResources.VerificationCode" />
                        <label for="floatingInput">@ARKanyResources.VerificationCode: </label>
                        <span asp-validation-for="VerificationCode" class="text-danger"></span>
                    </div>

                    <div class="form-floating">
                        <input asp-for="NewPassword" type="password" class="form-control my-1" placeholder="@ARKanyResources.NewPassword" />
                        <label for="floatingInput">@ARKanyResources.NewPassword: </label>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-floating">
                        <input asp-for="ConfirmNewPassword" type="password" class="form-control my-1" placeholder="@ARKanyResources.ConfirmNewPassword" />
                        <label for="floatingInput">@ARKanyResources.ConfirmNewPassword: </label>
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="w-100 btn-primary btn-lg">@ARKanyResources.ChangePassword</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/passwordReset.js")"></script>
    <script type="text/javascript">
        $(function () {
            var config = {
                urls: {
                    sendCode: '@Url.Action("SendPasswordResetVerificationCode","Account")'
                },
                texts: {
                    unknowErrorMsg: '@ARKanyResources.UnknowErrorMsg',
                    warningTitle: '@ARKanyResources.WarningTitle',
                    incompleteDataWarningMsg: '@ARKanyResources.IncompleteDataWarningMsg'
                }
            };

            var passwordReset = new PasswordReset(config);
            passwordReset.init();
        });
    </script>
}
